body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
    background-color: #f4f4f4;
}
.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1 {
    text-align: center;
    color: #333;
}
nav {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    flex-wrap: wrap;
}
a {
    padding: 10px 20px;
    font-size: 33px;
    text-decoration: none;
    color: white;
    background-color: #28a745;
    border: none;
    margin: 5px;
}
a:hover {
    background-color: #218838;
}
#content {
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}
table, th, td {
    border: 1px solid #ddd;
}
th, td {
    padding: 8px;
    text-align: left;
}
th {
    background-color: #f2f2f2;
}
button {
    padding: 5px 10px;
    font-size: 12px;
    cursor: pointer;
    background-color: #28a745;
    color: white;
    border: none;
}
button:hover {
    background-color: #218838;
}
td.actions {
    width: 80px; /* Adjust width as needed for smaller buttons */
}

/* Media Queries for Responsive Design */
@media (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: center;
    }
    a {
        width: 87%;
        text-align: center;
    }
    th, td {
        padding: 12px;
    }
    td.actions {
        width: auto;
        text-align: center;
    }
    button {
        width: 100%;
        margin-bottom: 5px;
    }
    





}

@media (max-width: 520px) {
    nav {
        flex-direction: column;
        align-items: center;
    }
    a {
        width: 87%;
        text-align: center;
        font-size: 16px;
    }
    th, td {
        padding: 12px;
    }
    td.actions {
        width: auto;
        text-align: center;
    }
    button {
        width: 100%;
        margin-bottom: 5px;
    }
    





}
